.container{
	margin: 0 auto;
	padding: 0;
	width: 90%;
	max-width: 1110px;
	min-width: 780px;
}
#log{
	padding: 0 10%;
	background-size: cover;

}
.new{
	background-image: url('../img/seccion.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px: solid black;
	margin-bottom: 60px;
	height: 800px;


}
.contenido{
	position: relative;
	display: inline-block;
	text-align: center;
	

}

.texto{
	position: absolute;
	top: 300px;
	margin: 60px;
}
.men{
	margin: 0;
	border: 0;
}
.tex{
	margin: 0 100px;	
	padding: 30px 200px;
}
h1{
	font-size: 50px;

}
h2{
	font-size: 30px;
}

.cont{
	position: relative;
	top: 80px;
	left: 100px;

}
nav ul a{
	text-decoration: none;
	background: #E50755;
	color: white;
	padding: 10px;
	text-align: center;
}
footer{
	background: black;
	color: white;
	padding: 2%; 
	border-top: 5px solid #E50755;
	clear: both;



}

.nueva{
	margin-top: 5%;
	margin-bottom: 5%;
}
footer a{
	color: gray;
}
nav ul:hover {
-moz-transform: scale(2) rotate(360deg);
-webkit-transform: scale(2) rotate(360deg);
-o-transform: scale(2) rotate(360deg);
-ms-transform: scale(2) rotate(360deg);
transform: scale(2) rotate(360deg);
}
a{
	text-decoration: none;
	padding: 10px 10px;
}
li {
	list-style: none;
	border-radius: 100%;
	
}
